/*header random effect*/
.articleResep {
  background-color: red;
}

/*header normal*/
header {
  display: flex;
  flex-direction: row;
  padding-top: 2%;
  padding-left: 3%;
  width: 100%;

  position: relative;
  top: 100%;
}

.option {
  width: 10%;
  margin-right: 2%;
  height: 5vw;
  background-color: white;
  color: black;
  border-radius: 2vw;
  border: 0px;
  font-size: 1.6vw;
  color: #a8a8a8;
}
#search-input {
  padding-left: 7%;
  padding-right: 7%;

  border: 0px solid #888;
  border-radius: 4vw;
  background-color: #f0f0f0;
  color: #000;
  outline: none;
  width: 33%;
  height: 5vw;
  margin-left: 10.5vw;
}

#home {
  color: black;
  width: 10%;
}
#random {
}
#filter {
}

/*card*/
/*styling card */
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.card {
  box-shadow: 0 4px 8px 0;
  width: 20%;
  border-radius: 1vw;
  margin-left: 3vw;
  margin-top: 8vw;
  margin-right: 1.5vw;
  font-size: 1.3vw;
}
.cardImage {
  width: 100%;
  border-radius: 2vh;
}
.container {
  padding: 4px 9px;
}

@media (max-width: 600px) {
  .cardContainer {
  }
  .card {
    width: 40%;
    margin-left: 6vw;
  }
}

/*article css*/
.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  max-width: 600px;
  width: 90%;
  max-height: 80vh; /* Batasi tinggi modal agar tidak terlalu besar */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Supaya bagian luar konten tidak spill */
}
.modal-body {
  flex: 1; /* Ambil ruang sisa di dalam modal-content */
  overflow-y: auto; /* Aktifkan scroll vertikal jika konten terlalu panjang */
  padding-right: 10px; /* Untuk memberi ruang scrollbar agar tidak nutup konten */
}
