.admin-container {
  max-width: 80%;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #fffaf5;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
}

.admin-title {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #ff7043;
  font-size: 1.8rem;
  font-weight: 700;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  font-size: 3vw;
  margin-top: 5vw;
}

.admin-table th {
  background-color: #ff7043;
  color: white;
  padding: 0.8rem;

  font-weight: 600;
  text-align: center;
}

.admin-table td {
  padding: 0.8rem;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.admin-table tr:hover {
  background-color: #fff0e6;
}

.no-data {
  text-align: center;
  color: #999;
  font-style: italic;
  padding: 1rem;
}
